<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>926531869383-cdfk84ngrcha6ju1jv6h6kbjdprt3vuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926531869383-cdfk84ngrcha6ju1jv6h6kbjdprt3vuu</string>
	<key>API_KEY</key>
	<string>AIzaSyAfzcttZ5ph2kyl9r560v7o-xd7nxc5yC4</string>
	<key>GCM_SENDER_ID</key>
	<string>926531869383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanchingway.uberclone</string>
	<key>PROJECT_ID</key>
	<string>htchhikr</string>
	<key>STORAGE_BUCKET</key>
	<string>htchhikr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926531869383:ios:a075cc46a79da37d</string>
	<key>DATABASE_URL</key>
	<string>https://htchhikr.firebaseio.com</string>
</dict>
</plist>